const reviewContainer = document.querySelector('.review-container')

const el = document.createElment
const reviewContent = `<section class="comment">
星數 :<%= "★"*review.rating %><%= "☆"*(5-review.rating) %>
<header><%= review.title%></header>
<article><%= review.content%></article>
</section>`

el.innerHTML = reviewContent #放到DOM元素裡

reviewContainer.insertAdjacentElement('afterbegin',el.firstChild) 

#insertAdjacentElement抓出元素，afterbegin表示擺在<div>內最上方，el.firstChild選取
#createElment做出DOM元素，el只是一個殼(裝DOM元素)把字串轉換成DOM元素

#後端收到js，頁面並沒有換頁不會更新，前端演戲，前端只接資料和輸出畫面，只有ruby的後端可以接到js的資料，離開ruby會壞